@font-face {
    font-family: "Neue Helvetica 67 Condensed Medium";
    src: url("../fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?iefix") format("eot");
}

@font-face {
    font-family: "Neue Helvetica 67 Condensed Medium";
    src: url("../fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?iefix");
    src: url("../fonts/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"), url("../fonts/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"), url("../fonts/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}